@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    background: #0f0f0f;
   overflow-x: hidden; 
}
 

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100vw;
   background: #161415 url(city_water.jpg) no-repeat top center;
   background-size: cover !important;
	-webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
   background-attachment: fixed;
   background-size: cover;
}


header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'Playfair Display', sans-serif;
   color: #fff;
   letter-spacing: 8px;
   margin: 0 auto 18px auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
header .banner-text h3 {
   font: 18px/1.9em 'Playfair Display', serif;
   color: #ffffff;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 50px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}
header .social li a { color: #fff; }
header .social li a:hover { color: #f89320; }

/* scrolldown link */
header .scrolldown a {
   position: absolute;
   bottom: 30px;
   left: 50%;
   margin-left: -29px;
   color: #fff;
   display: block;
   height: 42px;
   width: 42px;
   font-size: 42px;
   line-height: 42px;
   color: #fff;
   border-radius: 100%;

   -webkit-transition: all .3s ease-in-out;
   -moz-transition: all .3s ease-in-out;
   -o-transition: all .3s ease-in-out;
   transition: all .3s ease-in-out;
}
header .scrolldown a:hover { color: #11ABB0; }

#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

#nav-wrap {
   font: 12px 'Playfair Display', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { 
    background-color: #333;
 }

/* hide toggle button */
#nav-wrap > a.mobile-btn { 
    display: none;
 }


ul#nav {
   min-height: 48px;
   width: auto;
   text-align: center;
   background-color: #2D2E34;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}


ul#nav li a {
   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { 
    background-color: transparent; }
ul#nav li.current a { 
    color: #f5e611; }


/* --------About Section --------- */

#about {
   background:  #2B2B2B;
   padding-top: 50px;
   padding-bottom: 50px;
   overflow: hidden;
   background-attachment: fixed;
   justify-content: center;
   align-items: center;
   
}

#about a, #about a:visited  { 
    color: #fff; }
#about a:hover, #about a:focus { 
    color: #d3a72f; 
    justify-content: center;
    
}
.text1{
   position: absolute;
   top: 50%;
   width: 100%;
   text-align: center;
   color: #000;
   font-size: 27px;
   letter-spacing: 8px;
   text-transform: uppercase;

}
.text1 .border{
   background-color: #111;
   color: #fff;
   padding: 20px;
}
.transp{
   background-color: #111;
   color: #fff;
   padding: 20px;
   opacity: 0.5;
}


#about .contact-details { 
    width: 50%;
 }
#about .download {
   width: 60%;
   padding-top: 6px;
}
#about .main-col { 
    padding-right: 5%;
 }
#about .download .button {

   margin-top: 6px;
   padding: 20px 40px;
   background: #444;
}
#about .download .button:hover {
   background: rgb(248, 177, 25);
  
   color: #2B2B2B;
}
#about .download .button i {
   margin-right: 15px;
   font-size: 20px;
}


#resume {
   background: #fff;
   padding-top: 90px;
   padding-bottom: 72px;
   overflow: hidden;
}

#resume a, #resume a:visited  { color: #11ABB0; }
#resume a:hover, #resume a:focus { color: #313131; }

#resume h1 {
   font: 2rem 'Playfair Display', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
}
#resume h1 span {

   border-bottom: 2px solid #e08f23;
   padding: 1px 15px;
   margin: 2px 15px;
   font-size: 2rem;
}
#resume h3 {
    padding: 1% 10%;
    font-size: 2rem;
    font-family: 'Playfair Display', sans-serif;
}
#resume p{
    padding: 1% 10%;
    font-size: 1.1em;
}

#resume .header-col { padding-top: 9px; }
#resume .main-col { padding-right: 10%; }

.education, .work {
   margin-bottom: 48px;
   padding-bottom: 24px;
   border-bottom: 1px solid #E8E8E8;
}
#resume .info {
   font: 16px/24px 'Playfair Display', serif;
   color: #6E7881;
   margin-bottom: 18px;
   margin-top: 9px;
}
#resume .info span {
   margin-right: 5px;
   margin-left: 5px;
}
#resume .date {
   font: 15px/24px 'Playfair Display', sans-serif;
   margin-top: 6px;
}
#resume li {
    line-height: 2rem;
    justify-content: center;
    align-items: center;
    display: inline-block;
    font-weight: 700;
    font-size: 2.5rem;
    display: inline-block;
   padding: 2% 5%;
   line-height: 32px;
   text-align: center;
}
.img2{
   background-image: url(city_feet.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   max-width: auto;
   min-height: 400px;
}
.img3{
   background-image: url(train_blur.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   max-width: auto;
   min-height: 400px;
}
.img4{
   background-image: url(blur.jpg);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   max-width: auto;
   min-height: 400px;
}
.img1, .img2, .img3, .img4{
   position: relative;
   opacity: 0.7;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
}
.section{
   text-align: center;
   padding: 50px 80px;
   font-size: 1.1rem;
}
.section-dark{
   background-color: #282e34 ;
   color: #ddd;
   padding: 4rem;
}
.section-dark h2{
   padding: 25px;
}
#portfolio {
   background: #ebeeee;
   padding-top: 90px;
   padding-bottom: 60px;
}
#portfolio h1 {
   font: 2rem 'Playfair Display', sans-serif;
   text-transform: uppercase;
   letter-spacing: 1px;
   text-align: center;
   margin-bottom: 48px;
   color: #95A3A3;
}

/* Portfolio Content */




.portfolio-item .item-wrap a {
   
   cursor: pointer;
   text-decoration: none;
   
   

   
}


.portfolio-item .item-wrap .link-icon {
   display: block;
   color: #fff;
   height: 30px;
   width: 30px;
   font-size: 25px;
   line-height: 30px;
   text-align: center;
   opacity: 1;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -15px;
   margin-top: -15px;
}

.portfolio-item .portfolio-item-meta { 
    padding: 18px;
 }
.portfolio-item .portfolio-item-meta h5 {
   font: 14px/21px 'Playfair Display', sans-serif;
   color: #fff;
}
.portfolio-item .portfolio-item-meta p {
   font: 12px/18px 'Playfair Display', sans-serif;
   color: #c6c7c7;
   margin-bottom: 0;
}
.scale-with-grid{
    width: 100%;
    padding: 5px;
}
.site{
   text-decoration: none;
   padding-left: 5px;
}
.break {
   padding: 50px;
   background-image: url(building.png);
}
/* popup modal */
.popup-modal {
	max-width: 550px;
	background: #fff;
	position: relative;
	margin: 0 auto;
    background-color: rgba(0, 0, 0, .5);
    
    
}
.popup-modal-active{
    visibility: visible;
    opacity: 999;
}
.popup-modal .description-box { 
    padding: 12px 36px 18px 36px;
 }
.popup-modal .description-box h4 {
    font: 15px/24px 'Playfair Display', sans-serif;
    margin-bottom: 12px;
    color: #111;
}
.popup-modal .description-box p {
	font: 14px/24px 'Playfair Display', sans-serif;
   color: #d3d1d1;
   margin-bottom: 12px;
}
.popup-modal .description-box .categories {
   font: 11px/21px 'Playfair Display', sans-serif;
   color: #e7e5e5;
   text-transform: uppercase;
   letter-spacing: 2px;
   display: block;
   text-align: left;
}
.popup-modal .description-box .categories i {
   margin-right: 8px;
}
.popup-modal .link-box {
   padding: 18px 36px;
   background: #111;
   text-align: left;
}
.popup-modal .link-box a {
   color: #fff;
	font: 11px/21px 'Playfair Display', sans-serif;
	text-transform: uppercase;
   letter-spacing: 3px;
   cursor: pointer;
}
.popup-modal a:hover {
    color: #cc4100; 
    }
.popup-modal a.popup-modal-dismiss { 
    margin-left: 24px; 
}

.mfp-fade.mfp-wrap .mfp-content .popup-modal {
   opacity: 1;
   -webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
   transition: all 200ms ease-in-out;
}
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1s;
}
.modal-active{
    visibility: visible;
    opacity: 1;
}
.modal{
    position: relative;
    background-color: #a09f9f;
    color: #fff;
    font-weight: 200;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', sans-serif;
}
.modal button{
    -webkit-border-radius: 2;
  -moz-border-radius: 2;
  border-radius: 2px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 19px;
  background: #000000;
  border: solid #535557 2px;
  text-decoration: none;
  cursor: pointer;
}
.modal button:hover{
    background: #828485;
  text-decoration: none;
}
.close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: 700;
    cursor: pointer;
    z-index: 2;
}
/* Footer */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: #303030;
   font-size: 14px;
   text-align: center;
   position: relative;
   overflow: hidden;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
 }
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
	position: absolute;
	top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
	text-decoration: none;
	border: 0 none;
	display: block;
	width: 60px;
	height: 60px;
	background-color: #525252;

	-webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
 	border-radius: 100%;
}
#go-top a:hover { background-color: #db8f1c; }


/* ==================================================================

*   Ceevee Media Queries
*   url: styleshout.com
*   03-18-2014

/* ================================================================== */


/* screenwidth less than 1024px
--------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner-text h1 {
      font: 80px/1.1em 'Playfair Display', sans-serif;
      letter-spacing: -1px;
      margin: 0 auto 12px auto;
   }

}

/* screenwidth less than 900px
--------------------------------------------------------------------- */
@media only screen and (max-width: 900px) {

    /* header styles
   ------------------------------------------------------------------ */
   header .banner { padding-bottom: 12px; }
   header .banner-text h1 {
      font: 78px/1.1em 'Playfair Display', sans-serif;
      letter-spacing: -1px;      
   }
   header .banner-text h3 {
      font: 17px/1.9em 'Playfair Display', serif;
      width: 80%;
   }
   header .banner-text hr {
      width: 65%;
      margin: 12px auto;
   }
   /* nav-wrap */
   #nav-wrap {
      font: 11px 'Playfair Display', sans-serif;
      letter-spacing: 1.5px;
   }


   /* About Section
   ------------------------------------------------------------------- */
    #about img.profile-pic {
      width: 150px;
      height: 200px;
      margin: 2% 15%;
   }
   #about .contact-details { 
       width: 50%;
     }
   #about .download {
        width: 50%; 
    }

   /* Resume Section
   ------------------------------------------------------------------- */
   #resume h1 { font: 16px/24px 'Playfair Display', sans-serif; }
   #resume .main-col { padding-right: 5%; }   

   /* Testimonials Section
   ------------------------------------------------------------------- */
   #testimonials .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #testimonials blockquote p {
      font-size: 22px;
      line-height: 46px;      
   }

   

   /* Contact Section
   ------------------------------------------------------------------- */
   #contact .section-head { margin-bottom: 30px; }
   #contact .header-col h1:before {
      font-size: 66px;
      line-height: 66px;
   }
   #contact .section-head p.lead { font: 17px/33px opensans-light, sans-serif; }


}

/* mobile wide/smaller tablets
---------------------------------------------------------------------- */

@media only screen and (max-width: 767px) {

   /* mobile navigation
   -------------------------------------------------------------------- */
   #nav-wrap {
      font: 12px 'Playfair Display', sans-serif;
      background: transparent ;
      letter-spacing: 1.5px;  
      width: auto;
      position: fixed;
      top: 0;
      right: 0;
   }
   #nav-wrap > a {
	   width: 48px;
		height: 48px;
		text-align: left;
		background-color: #CC5200;
		position: relative;
      border: none;
      float: right;

      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      position: relative;
      top: 0px;
      right: 30px;
   }

	#nav-wrap > a:before,
   #nav-wrap > a:after {
	   position: absolute;
		border: 2px solid #fff;
		top: 35%;
		left: 25%;
		right: 25%;
		content: '';
	}
   #nav-wrap > a:after { top: 60%; }

   /* toggle buttons */
	#nav-wrap:not( :target ) > a:first-of-type,
	#nav-wrap:target > a:last-of-type  {
	   display: block;
	}

  
   #nav-wrap ul#nav {
      height: auto;
		display: none;
      clear: both;
      width: auto; 
      float: right;     

      position: relative;
      top: 12px;
      right: 0;
   }

 
	#nav-wrap:target > ul#nav	{
	   display: block;
      padding: 30px 20px 48px 20px;
      background: #1f2024;
      margin: 0 30px;
      clear: both;
   }

   ul#nav li {
      display: block;
      height: auto;      
      margin: 0 auto; 
      padding: 0 4%;           
      text-align: left;
      border-bottom: 1px solid #2D2E34;
      border-bottom-style: dotted; 
   }
  
   ul#nav li a {  
      display: block;    
      margin: 0;
      padding: 0;      
      margin: 12px 0; 
      line-height: 16px; /* reset line-height from 48px */
      border: none;
   }  


   /* Header Styles
   -------------------------------------------------------------------- */
   header .banner {
      padding-bottom: 12px;
      padding-top: 6px;
   }
   header .banner-text h1 { font: 68px/1.1em 'Playfair Display', sans-serif; }
   header .banner-text h3 {
      font: 16px/1.9em 'Playfair Display', serif;
      width: 85%;
   }
   header .banner-text hr {
      width: 80%;
      margin: 18px auto;
   }

   /* header social links */
   header .social {
      margin: 18px 0 24px 0;
      font-size: 24px;
      line-height: 36px;      
   }
   header .social li { margin: 0 10px; }

   
   header .scrolldown { display: none; }

   #about .profile-pic { display: none; }
   #about .download .button {
      max-width: 100%;
      justify-content: center;
      padding: 15px 20px;
      display: block;
   }
   #about .main-col { padding-right: 30px; }

   #resume .header-col {
      padding-top: 0;
      margin-bottom: 48px;
      text-align: center;
   }
   #resume h1 { letter-spacing: 3px; }
   #resume .main-col { padding-right: 30px; }
   #resume h3, #resume .info { text-align: center; }
  
  
   #portfolio-wrapper .columns { margin-bottom: 40px; }
   .popup-modal {	max-width: 85%; }


   /* Control Nav */
   .flex-control-nav {
      text-align: center;
      margin-left: -30px;
   }


   /* footer
   ------------------------------------------------------------------------ */
  

   /* social links */
   footer .social-links { font-size: 22px; }
   footer .social-links li { margin-left: 18px; }

   /* Go To Top Button */
   #go-top { margin-left: -22px; }
   #go-top a {
   	width: 54px;
   	height: 54px;
      font-size: 18px;
      line-height: 54px;
   }


}



@media only screen and (max-width: 480px) {

   
   #nav-wrap ul#nav { width: auto; float: none; }


   header .banner { padding-top: 24px; }
   header .banner-text h1 {
      font: 40px/1.1em 'Playfair Display', sans-serif;      
      margin: 0 auto 24px auto;
   }
   header .banner-text h3 {
      font: 14px/1.9em 'Playfair Display', sans-serif;
      width: 90%;
   }
  
   header .social { font-size: 20px;}
   header .social li { margin: 0 6px; }

   /* footer
   ------------------------------------------------------------------------ */

   footer .social-links { font-size: 20px; }
   footer .social-links li { margin-left: 14px; }   

}









